body {
	background-color: #000;
	text-align: center;
	font-family: 'Staatliches', cursive;
	letter-spacing: 0.1em;
	color: #fff;
	font-size: 1em;
}

div {
	/*border: solid 1px red;*/
}

h1 {
	border-bottom: solid 3px #f00;
	display: inline-block;
	padding-bottom: 5px;
	font-size: 2.6em;
}

h2 {
	margin: 0;
	font-size: 1.8em;
}

ul {
	margin: 10px 0;
}

li {
	text-align: left;
}

img {
	width: 50%;
	margin: 20px auto;
}

#chef {
	width: 260px;
	height: 30px;
	font-size: 1em;
	border: solid 1px #000;
	padding: 4px;
	border-radius: 0.4rem;
	text-align: center;
	font-family: inherit;
}

#chef:focus {
	outline: none;
	border: solid 2px #f00;
}

#game-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
}

.pane{
	padding: 20px;
}

#left-pane {
	flex-grow: 1;
}

#right-pane {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
}

#cooking-pot {
	background-image: url("images/pot-on-stove.png");
	background-size: cover;
	width: 80%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

#cooking-pot:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

#dish {
	color:#FFF;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#kitchen-counter {
	/*border: solid 1px blue;*/
	width: 270px;
	margin: 10px auto;
}

#order-tracker {
	display: flex;
	justify-content: center;
}